**/.qsys_edit/**
**/db/**
**/incremental_db/**
**/soc_system/**
**/hps_isw_handoff/**
**/*.txt
**/*.rpt
**/*.csv
**/*.done
**/*.smsg
**/*.summary
**/*.pin
**/*.jdi
**/*.sopcinfo
**/*.sld
**/*.qws
**/*.cdf
**/*.stp
**/*.cof
**/*.bak
